body {
    margin: 0;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    background: lightgray;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}